@import url("https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Delius", cursive;
}

:root {
  --body_bgLight: url(../image/BG1.jpg);
  --profile_txtLight: #00d9ff;
  --profile_borderLight: 3px solid rgb(0, 200, 255);
  --line_borderLight: 1px rgb(0, 200, 255) solid;
  --input_txtLight: rgb(0, 200, 255);
  --btn_bgLight: rgb(0, 200, 255);

  --body_bgColor: var(--body_bgLight);
  --profile_txtColor: var(--profile_txtLight);
  --profile_borderColor: var(--profile_borderLight);
  --line_borderColor: var(--line_borderLight);
  --input_txtColor: var(--input_txtLight);
  --btn_bgColor: var(--btn_bgLight);
}

body {
  width: 100vw; /* width of the viewport size */
  height: 100vh;
  background: var(--body_bgColor);
  transition: background-color 0.3s, color 0.3s;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.container {
  width: 450px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  backdrop-filter: blur(13px);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 10px;
}

.profile_info {
  color: var(--profile_txtColor);
  text-align: center;
}

.header .profile {
  width: 90px;
  border-radius: 50%;
  border: var(--profile_borderColor);
}

.line {
  width: 100%;
  border: var(--line_borderColor);
  margin-bottom: 20px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input[type="text"] {
  width: 270px;
  height: 60px;
  margin-bottom: 20px;
  border: 1px solid rgb(0, 200, 255);
  border-radius: 10px;
  padding-left: 20px;
  font-size: 15px;
  color: var(--input_txtColor);
  margin-left: 25px;
  background: transparent;
}

input[type="password"] {
  padding-left: 20px;
  width: 270px;
  height: 60px;
  margin-bottom: 30px;
  border: 1px solid rgb(0, 200, 255);
  border-radius: 10px;
  padding-left: 20px;
  font-size: 15px;
  color: var(--input_txtColor);
  background: transparent;
  margin-left: 25px;
}

input[type="email"] {
  padding-left: 20px;
  width: 270px;
  height: 60px;
  margin-bottom: 20px;
  border: 1px solid rgb(0, 200, 255);
  border-radius: 10px;
  font-size: 15px;
  color: var(--input_txtColor);
  background: transparent;
  margin-left: 25px;
}

input[type="text"] + ion-icon {
  position: absolute;
  left: 10%;
  margin-top: 20px;
  font-size: 20px;
  color: var(--input_txtColor);
}

input[type="password"] + ion-icon {
  position: absolute;
  left: 10%;
  margin-top: 25px;
  font-size: 20px;
  color: var(--input_txtColor);
}

input[type="email"] + ion-icon {
  position: absolute;
  left: 10%;
  margin-top: 25px;
  font-size: 20px;
  color: var(--input_txtColor);
}

.btn {
  width: 150px;
  height: 50px;
  border: 1px solid transparent;
  border-radius: 10px;
  background: var(--btn_bgColor);
  color: var(--btn_txtColor);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 15px;
}

/* for notifications*/

.notifications {
  position: fixed;
  top: 30px;
  right: 20px;
}
.toast {
  position: relative;
  padding: 10px;
  color: #fff;
  margin-bottom: 10px;
  width: 400px;
  display: grid;
  grid-template-columns: 70px 1fr 70px;
  border-radius: 5px;
  --color: #0abf30;
  background-image: linear-gradient(to right, #0abf3055, #22242f 30%);
  animation: show 0.3s ease 1 forwards;
}
.toast i {
  color: var(--color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}
.toast .title {
  font-size: x-large;
  font-weight: bold;
}
.toast span,
.toast i:nth-child(3) {
  color: #fff;
  opacity: 0.6;
}
@keyframes show {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(-5%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10%);
  }
}
.toast::before {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color);
  width: 100%;
  height: 3px;
  content: "";
  box-shadow: 0 0 10px var(--color);
  animation: timeOut 5s linear 1 forwards;
}
@keyframes timeOut {
  to {
    width: 0;
  }
}
.toast.error {
  --color: #f24d4c;
  background-image: linear-gradient(to right, #f24d4c55, #22242f 30%);
}
.toast.warning {
  --color: #e9bd0c;
  background-image: linear-gradient(to right, #e9bd0c55, #22242f 30%);
}
.toast.info {
  --color: #3498db;
  background-image: linear-gradient(to right, #3498db55, #22242f 30%);
}

/* Back Button */
.back_btn {
  position: absolute;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 5%;
  left: 19%;
  border-radius: 50%;
  background-image: url(../image/cardBG.jpg);
  animation: animateBG 5s linear infinite;
  transition: 1s;
}

.back_btn a {
  text-decoration: none;
}

.back_btn ion-icon {
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  color: #00d0ff;
}

.back_btn:hover {
  animation: back_animation 5s linear infinite;
}

.back_btn:hover ion-icon {
  color: #333;
}

@keyframes back_animation {
  0% {
    background: #e91818;
    box-shadow: 0 0 10px #e91818, 0 0 30px #e91818, 0 0 50px #e91818;
  }
  15% {
    background: #ffbc00;
    box-shadow: 0 0 10px #ffbc00, 0 0 30px #ffbc00, 0 0 50px #ffbc00;
  }
  30% {
    background: #4dff03;
    box-shadow: 0 0 10px #4dff03, 0 0 30px #4dff03, 0 0 50px #4dff03;
  }
  45% {
    background: #00fbff;
    box-shadow: 0 0 10px #00fbff, 0 0 30px #00fbff, 0 0 50px #00fbff;
  }
  60% {
    background: #1303f4;
    box-shadow: 0 0 10px #1303f4, 0 0 30px #1303f4, 0 0 50px #1303f4;
  }
  75% {
    background: #a803f4;
    box-shadow: 0 0 10px #a803f4, 0 0 30px #a803f4, 0 0 50px #a803f4;
  }
  100% {
    background: #ff0058;
    box-shadow: 0 0 10px #ff0058, 0 0 30px #ff0058, 0 0 50px #ff0058;
  }
}